.hero {
  width: 100%;
  height: 100vh;
  background: url("/img/bg-pc.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  text-align: center;
  object-fit: cover;
}

.sub-headline {
  font-size: 8.5rem;
  font-family: var(--secondary-font);
  color: var(--color-gold);
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
}

.first-letter {
  text-transform: uppercase;
  font-size: 10.3rem;
}

.headline {
  color: var(--color-white);
  font-size: 3.7rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-right: 0.5rem;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  max-width: 8.4rem;
  height: 0.25rem;
  background-color: var(--color-white);
  position: relative;
}

.line-right::before,
.line-left::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.6rem solid transparent;
}

.line-right::before {
  border-right-color: var(--color-white);
  right: 0;
}

.line-left::before {
  border-left-color: var(--color-white);
  left: 0;
}

.asterisk {
  font-size: 1.2rem;
  color: var(--color-gold);
  margin: 0 1.6rem;
}

.headline-description h5 {
  color: var(--color-white);
  font-size: 1.8rem;
  font-weight: 100;
  margin-bottom: 2rem;
  letter-spacing: 3px;
}

.btn {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
}

.cta-btn {
  font-size: 1.1rem;
  background-color: var(--color-white);
  padding: 0.9rem 1.8rem;
  color: var(--body-font-color);
  border-radius: 0.4rem;
  transition: backrground-color 0.5s;
}

.cta-btn:hover,
.cta-btn:focus {
  color: var(--color-white);
  background-color: var(--secondary-font-color);
}
