/* hero */
.hero {
  width: 100%;
  height: 100vh;
  background: url("/img/bg-pc.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  text-align: center;
  object-fit: cover;
}

.sub-headline {
  font-size: 8.5rem;
  font-family: var(--secondary-font);
  color: var(--color-gold);
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
  opacity: 0;
  animation: fadeUp 0.5s forwards;
  animation-delay: 0.5s;
}

.first-letter {
  text-transform: uppercase;
  font-size: 10.3rem;
}

.headline {
  color: var(--color-white);
  font-size: 3.7rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-right: 0.5rem;
  animation: scale 0.5s forwards;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  max-width: 8.4rem;
  height: 0.25rem;
  background-color: var(--color-white);
  position: relative;
  opacity: 0;
  animation: grow 2s forwards;
  animation-delay: 0.9s;
}

.line-right::before,
.line-left::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.6rem solid transparent;
  opacity: 0;
  animation: grow 0.5s forwards;
  animation-delay: 1.2s;
}

.line-right::before {
  border-right-color: var(--color-white);
  right: 0;
}

.line-left::before {
  border-left-color: var(--color-white);
  left: 0;
}

.asterisk {
  font-size: 1.2rem;
  color: var(--color-gold);
  margin: 0 1.6rem;
  opacity: 0;
  animation: spin 0.5s forwards;
  animation-delay: 0.7s;
}
.single-animation {
  opacity: 0;
  animation: fadeDown 0.5s forwards;
  animation-delay: 1.5s;
}
.headline-description h5 {
  color: var(--color-white);
  font-size: 1.8rem;
  font-weight: 100;
  margin-bottom: 2rem;
  letter-spacing: 3px;
}

.btn {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
}
.scroll-down {
  position: absolute;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mouse {
  width: 2rem;
  height: 4rem;
  border: 2px solid white;
  border-radius: 2rem;
  margin-bottom: 0.3rem;
  display: flex;
}
.mouse span {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: mouse-wheel 1s linear infinite;
}

.arrow span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 2px solid transparent;
  border-right-color: white;
  border-bottom-color: white;
  transform: rotate(45deg);
  animation: arrow-down 0.5s alternate infinite;
}
.global-headline {
  text-align: center;
  margin-top: 3.9rem;
}

.discover-our-story .global-headline {
  margin-top: 6.9rem;
}

.global-headline .asterisk {
  color: var(--body-font-color);
  margin: 2.4rem 0;
}

.headline-dark {
  color: var(--main-font-color-dark);
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
  margin-top: 0.5rem;
}

.global-headline .sub-headline {
  letter-spacing: -1px;
  line-height: 0.42;
}

.salad-info {
  text-align: center;
}

.salad-description {
  margin-bottom: 3rem;
}

.salad-description p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.body-btn {
  font-size: 1.5rem;
  color: var(--color-gold);
  position: relative;
  transition: color 0.5s;
}

.body-btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--color-gold);
  transition: background-color 0.5s;
}

.body-btn:hover,
.body-btn:focus {
  color: var(--main-font-color-dark);
}

.body-btn:hover::before,
.body-btn:focus::before {
  background-color: var(--main-font-color-dark);
}

.fresh-vegetables {
  background: url("/img/fresh.jpg") center no-repeat;
  background-size: cover;
}
.between {
  min-height: 85vh;
  display: flex;
  align-items: center;
}
.white {
  color: #fff;
}
.gold {
  color: var(--color-gold);
}

.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.discover-our-menu .salad-description {
  padding-top: 3rem;
  margin-bottom: 0;
}

.menu-img {
  background-color: #2f772d;
}

.perfect-blend {
  background: url("/img/blend.jpg") center no-repeat;
  background-size: cover;
}
