.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.discover-our-menu .salad-description {
  padding-top: 3rem;
  margin-bottom: 0;
}

.menu-img {
  background-color: #2f772d;
}
