.tasteful-recipes {
  background: url("/img/recipes1.jpg") center no-repeat;
  background-size: cover;
}

.between {
  min-height: 85vh;
  display: flex;
  align-items: center;
}
.animate-top .sub-headline {
  color: #fff;
}
.animate-bottom .headline-dark {
  color: var(--color-gold);
}
