/*recipes  */
.fresh-vegetables {
  background: url("/img/fresh.jpg") center no-repeat;
  background-size: cover;
}
.between {
  min-height: 85vh;
  display: flex;
  align-items: center;
}
.white {
  color: #fff;
}
.gold {
  color: var(--color-gold);
}

/* blend */
.perfect-blend {
  background: url("/img/blend.jpg") center no-repeat;
  background-size: cover;
}
