/* Media Queries */
@media screen and (min-width: 900px) {
  /* //////////////header//////////// */

  .menu-toggle {
    display: none;
  }
  .nav {
    justify-content: space-between;
  }
  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }
  .nav-link {
    color: white;
    font-size: 1.3rem;
  }
  .nav-link:hover {
    color: var(--color-gold);
  }
  .nav-item {
    margin: 0 2.4rem;
    border: none;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  .active {
    position: relative;
  }

  .active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: -4px;
  }

  /*////////////////screen///////////// */
  section {
    padding: 7.9rem;
  }

  .sub-headline {
    font-size: 10rem;
  }
  .font-letter {
    font-size: 12.2rem;
  }
  .headline {
    font-size: 4.7rem;
    letter-spacing: 0.8rem;
  }
  .line {
    max-width: 11.4rem;
  }
  .salad-info {
    display: flex;
    align-items: center;
  }

  .salad-info > div {
    flex: 1;
  }
  .padding-right {
    padding-right: 7rem;
  }

  /* ///////////footer///////////// */
  .footer-content {
    max-width: 77.5rem;
    margin: auto;
  }
  .footer-content-about {
    max-width: 51.3rem;
    margin: 0 auto 5.4rem;
  }
  .footer-content-divider {
    display: flex;
    justify-content: space-between;
  }

  .social-media,
  .newsletter-form {
    width: 100%;
    max-width: 27.3rem;
    margin: 0 1rem;
  }

  .social-icons i {
    opacity: 1;
  }
  .newsletter-btn {
    margin-left: 12.5rem;
  }
}
